.body-not-found {
    background-color: rgb(110, 110, 110);
    .video-js {
        opacity: 0;
    }    
    .header-left-box svg path {
        fill: $white;
    }
    .header-right-box span {
        background-color: $white;
    }
    h1 {
        font-family: $Black;
        font-size: 300px;
        width: 100%;
        color: transparent;
        text-shadow: 0 0 30px rgba(0, 0, 0,  50%);
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}